<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hacker News Lite</title>

</head>

<body>
    <ul>
        {{ range . }}
        <li>
            <a href="{{.Link}}" target="_new"> {{ .Title }} </a>
            <a href="{{.Discuss}}" target="_new">{{ .Points }}</a>
            <span>{{ .Comments }}</span>
        </li>
        {{ else }}
        <li> Nothing to show. </li>
        {{ end }}
    </ul>
    {{ range $index, $value := . }}
        {{ if ($index | equal 0) }}
        <input type="button" name="prev" value="prev" onclick="location.href='/list/{{ $value.Page | add -1 }}'">
        <input type="button" name="next" value="next" onclick="location.href='/list/{{ $value.Page | add 1 }}'"> 
        {{ end }}
    {{ end }}
</body>